@import './--active/side-menu-item--active.scss';

.side-menu-item {
    display: block;
    height: 32px;
    font-family: "TT Lakes Condensed", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    counter-reset: #1B1C21;
    padding-left: 24px;
    transition: all 0.3s ease-out;
}

.side-menu-item:hover {
    color: #7E7E82;
}

.side-menu-item::after {
    position: relative;
    display: block;
    width: 8px;
    height: 32px;
    border-radius: 4px;
    background-color: #41F6D7;
    content: "";
    transition: all 0.3s ease-out;
    opacity: 0;
    top: -28px;
}

.side-menu-item:hover.side-menu-item::after {
    display: block;
    opacity: 1;
    transform: translateX(-36px);
}
