.prices__offer-arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    cursor: pointer;
    margin-left: 8px;
}
