
@import './__tile/brands-tiles__tile.scss';

.brands-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    height: 180px;
    overflow-y: hidden;
}

.brands-tiles--expanded {
    overflow-y: visible;
    height: auto;
}
