.upper-menu {
    background-color: #FFFFFF;
    width: auto;
    height: 88px;
    display: flex;
    align-items: center;
    border-bottom-color: #D9FFF5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

@media (min-width: 1120px) {
    .upper-menu {
        display: none;
    }
}