@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes/TTLakes-Regular.eot');
    src: local('./fonts/TTLakes/TT Lakes Regular'), local('./fonts/TTLakes/TTLakes-Regular'),
        url('./fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
        url('./fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes/TTLakes-Bold.eot');
    src: local('./fonts/TTLakes/TT Lakes Bold'), local('./fonts/TTLakes/TTLakes-Bold'),
        url('./fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
        url('./fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('./fonts/TTLakes/TTLakesCondensed-Medium.eot');
    src: local('./fonts/TTLakes/TT Lakes Condensed Medium'), local('./fonts/TTLakes/TTLakesCondensed-Medium'),
        url('./fonts/TTLakes/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes/TTLakesCondensed-Medium.woff') format('woff'),
        url('./fonts/TTLakes/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
