@import './__button/table-card__button.scss';

.table-row-card {
    height: 64px;
    font-size: 14px;
    line-height: 18px;
    font-family: "TT Lakes", "Arial", sans-serif;
    color: $textColor;
    font-weight: 500;
}
