.content-title__text {
    margin-left: 12px;
    font-size: 28px;
    line-height: 40px;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: bold;
    color: #1B1C21;
}

@media (min-width: 768px) {
    .content-title__text {
        margin-left: 20px;
    }
}

@media (min-width: 1120px) {
    .content-title__text {
        margin-left: 28px;
    }
}
