.orders-menu__label {
    font-family: "TT Lakes Condensed", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    font-weight: 500;
    margin-right: 8px;
    display: none;
}

@media (min-width: 1120px) {
    .orders-menu__label {
        display: block;
    }
}