.fog-modal {
    position: absolute;
    left: -320px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $backgroundWhite;
    z-index: -15;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.fog-modal--visible {
    opacity: 0.9;
    z-index: 25;
}