@import './__button/brand-card__button.scss';
@import './__logo/brand-card__logo.scss';

.brand-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $borderColor;
    border-radius: 6px;
    background-color: $backgroundWhite;
    justify-content: space-between;
    min-width: 220px;
    max-width: 240px;
    height: 72px;
}
