.slide-menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
}

@media (min-width: 1120px) {
    .slide-menu {
        overflow-x: hidden;
        flex-wrap: wrap;
    }
}
