.card-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    display: block;
    background-image: url("../../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.card-button:hover {
    background-color: #ff3e7828;
}
