.fog-menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $backgroundWhite;
    z-index: -15;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.fog-menu--visible {
    opacity: 0.9;
    z-index: 15;
}