@import './__call/communications__call.scss';
@import './__chat/communications__chat.scss';
@import './__profile/communications__profile.scss';

.communications {
    display: none;
}

@media (min-width: 768px) {
    .communications {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}
