.modal-call__submit-button {
    align-self: flex-end;
    margin-top: 16px;
    margin-right: 16px;
    text-decoration: none;

    @media (min-width: $tabletWidth) {
        margin-right: 32px;
    }
}