.content-title__highlight {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    margin-left: -4px;
    background-color: $accentColor;

    @media (min-width: 1120px) {
        width: 4px;
        margin-left: 0;
    }
}


